body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #cbd2f4;
    color: #333333;
    margin: 15pt;
}

h1 {
    font-size: 24pt;
    color: #1a0d92;
    font-weight: bold;
}

h2 {
    font-size: 20pt;
    color: #00838f;
}

p {
    font-size: 12pt;
    color: #455a64;
    line-height: 1.7;
}

a:link, a:visited {
    color: #00796b;
    text-decoration: none;
}

a:hover {
    color: #004d40;
    text-decoration: underline;
}

a:active {
    color: #004d40; 
}

div.text {
    border: 1px solid #b2dfdb; 
    padding: 10px; 
    margin-bottom: 20px; 
}

div.links {
    border: 1px solid #80cbc4; 
    padding: 10px; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
}

table td {
    padding: 10px;
    border: 1px solid #006064; 
}

.nav-menu {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.nav-menu li ul {
    display: none;
    position: absolute;
}

.nav-menu li:hover ul {
    display: block;
}

.nav-menu li:hover {
    background-color: #b2ebf2;
}




.image-container img {
    width: 200px;
    cursor: pointer;
}

.image-container img.enlarged {
    width: 400px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-menu li {
    position: relative;
    padding: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

.nav-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    background-color: white;
    padding: 0;
    margin: 0;
}

.nav-menu li:hover ul {
    display: block;
}

.nav-menu li:hover > a {
    color: blue; 
}